<div class="personal-info">
  <div class="personal-info__container">
    <div>
      <h1 class="personal-info__title">Personal info</h1>
      <p class="personal-info__description">
        Please provide your name, email address, and phone number.
      </p>
    </div>

    <form [formGroup]="personalForm" class="personal-info__form">
    <div class="form-field">
      <div class="form-field__header">
        <label for="name" class="form-field__label">Name</label>
        @if (personalForm.get('name')?.invalid && (personalForm.get('name')?.touched || formSubmitted)) {
        <span class="form-field__error">
          @if (personalForm.get('name')?.errors?.['required']) {
          Name is required
          } @else if (personalForm.get('name')?.errors?.['minlength']) {
          Name must be at least 2 characters
          }
        </span>
        }
      </div>
      <input id="name" type="text" formControlName="name" class="form-field__input"
        [class.ng-invalid]="personalForm.get('name')?.invalid" [class.ng-touched]="personalForm.get('name')?.touched"
        placeholder="e.g. Stephen King">
    </div>

    <div class="form-field">
      <div class="form-field__header">
        <label for="email" class="form-field__label">Email Address</label>
        @if (personalForm.get('email')?.errors && personalForm.get('email')?.touched || formSubmitted) {
        <span class="form-field__error">
          @if (personalForm.get('email')?.errors?.['required']) {
          Email is required
          } @else if (personalForm.get('email')?.errors?.['email']) {
          Email must be a valid email address
          }
        </span>
        }
      </div>
      <input id="email" type="email" formControlName="email" class="form-field__input"
        [class.ng-invalid]="personalForm.get('email')?.invalid" [class.ng-touched]="personalForm.get('email')?.touched"
        placeholder="e.g. stephenking@lorem.com">
    </div>

    <div class="form-field">
      <div class="form-field__header">
        <label for="phone" class="form-field__label">Phone Number</label>
        @if (personalForm.get('phone')?.errors && personalForm.get('phone')?.touched ||formSubmitted) {
        <span class="form-field__error">
          @if (personalForm.get('phone')?.errors?.['required']) {
          Phone number is required
          } @else if (personalForm.get('phone')?.errors?.['pattern']) {
          Phone number must be a valid phone number
          }
        </span>
        }
      </div>
      <input id="phone" type="tel" formControlName="phone" class="form-field__input"
        [class.ng-invalid]="personalForm.get('phone')?.invalid" [class.ng-touched]="personalForm.get('phone')?.touched"
        placeholder="e.g. +1 234 567 890">
    </div>
  </form>
</div>
  <app-navigation-buttons [showNextButton]="true" (onNext)="goNext()" />
</div>